<ul>
	<% @projects.each do | project |  %>
	  <%# if project.name == "Ironhack" %>
		<li>
			<span class="project-name">
				<%= project.name %>
			</span>
			<% if project.description != nil  %>
				<!-- "WE HAVE A DESCRIPTION" -->
				--
				<%= project.description  %>
			<% end %>
		</li>
	  <%# end %>
	<% end %>
</ul>